@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --nawabi-gold: #FFA500;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-nawabi-gold: var(--nawabi-gold);
  --font-cinzel: var(--font-cinzel);
  --font-marcellus: var(--font-marcellus);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cinzel), serif;
}

/* Custom Utilities */
html,
body,
a,
button,
input,
textarea,
select,
[role="button"] {
  cursor: none !important;
}

.text-gold {
  color: var(--nawabi-gold);
}

.bg-gold {
  background-color: var(--nawabi-gold);
}

.font-marcellus {
  font-family: var(--font-marcellus), serif;
}